<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<div class="main">
			<div class="profileCard">
				<div class="topText">
					<span></span>
					<p>私が好きなものは”ベトナム伝統音楽”です。</p>
					<div class="gradationText"></div>
				</div>
				<div class="profileContent">
					<div class="profileImg">
						<img src="/images/profileImg.png" alt="" />
					</div>
					<div class="profileInfo">
						<div class="userIcon"></div>
						<div class="bio">
							<div class="profileTag">
								<div class="tag">#ベトナム</div>
								<div class="tag">#伝統音楽</div>
							</div>
							<div class="name">あったかい<span>さん</span></div>
							<div class="desTitle">!! | ベトナム伝統音楽</div>
							<div class="des">
								ベトナムの伝統音楽にハマったら、まるで風が緩やかに川を渡るような心地よさに包まれる。その音楽は、時間を忘れさせ、心を癒す
							</div>
						</div>
					</div>
					<div class="buttonBox">
						<div class="like"></div>
						<div class="match">話してみる？</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<nav>
				<ul>
					<li class="active">
						<a href="/home"><i></i><span>ホーム</span></a>
					</li>
					<li>
						<a href="#"><i></i><span>メッセージ</span></a>
					</li>
					<li>
						<a href="#"><i></i><span>通知</span></a>
					</li>
					<li>
						<a href="/profile"><i></i><span>プロフィール</span></a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
