<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>プロフィール</title>
    <link rel="stylesheet" href="/css/ress.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="headline_all">
        <div class="headline_icon"></div>
        <p class="headline">プロフィールを選択してください。</p>
		<img class="headline_icon_decoration" src="/images/headline_icon.svg" alt="">
      </div>

	  <div class="profile_all">
	<section>
		 <article class="profile">
        <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
        <div class="profile_text">
			<a href="/index">
          <h3>あったかい</h3>
          <ul class="tag_all">
            <li class="tag">#ベトナム</li>
            <li class="tag">#伝統音楽</li>
          </ul>
          <p class="text">
            ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
          </p>
        </div>
        <svg
          class="editicon"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 -1 14 14"
          fill="none"
        >
          <rect
            x="9.89941"
            width="4.48"
            height="1.12"
            transform="rotate(45 9.89941 0)"
            fill="#3D5C8A"
          />
          <path
            d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
            fill="#3D5C8A"
          />
        </svg>
		</a>
      </article>
      <article class="new_profile">
		<a href="/index">
        <p class="new_text">新しく作る ＋</p>
		</a>
      </article>
      <article class="new_profile">
		<a href="/index">
        <p class="new_text">新しく作る ＋</p>
		</a>
      </article>
	    <article class="new_profile">
		<a href="/index">
        <p class="new_text">新しく作る ＋</p>
		</a>
      </article>
	</section>
	<section>
		<article class="profile">
	   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
	   <div class="profile_text">
		   <a href="/index">
		 <h3>あったかい</h3>
		 <ul class="tag_all">
		   <li class="tag">#ベトナム</li>
		   <li class="tag">#伝統音楽</li>
		 </ul>
		 <p class="text">
		   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
		 </p>
	   </div>
	   <svg
		 class="editicon"
		 xmlns="http://www.w3.org/2000/svg"
		 width="20"
		 height="20"
		 viewBox="0 -1 14 14"
		 fill="none"
	   >
		 <rect
		   x="9.89941"
		   width="4.48"
		   height="1.12"
		   transform="rotate(45 9.89941 0)"
		   fill="#3D5C8A"
		 />
		 <path
		   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
		   fill="#3D5C8A"
		 />
	   </svg>
	   </a>
	 </article>
	 <article class="new_profile">
	   <a href="/index">
	   <p class="new_text">新しく作る ＋</p>
	   </a>
	 </article>
	 <article class="new_profile">
	   <a href="/index">
	   <p class="new_text">新しく作る ＋</p>
	   </a>
	 </article>
	   <article class="new_profile">
	   <a href="/index">
	   <p class="new_text">新しく作る ＋</p>
	   </a>
	 </article>
   </section>
   <section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>
<section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section><section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section><section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section><section>
	<article class="profile">
   <img class="profile_icon" src="/images/icon.png" alt="アイコン" />
   <div class="profile_text">
	   <a href="/index">
	 <h3>あったかい</h3>
	 <ul class="tag_all">
	   <li class="tag">#ベトナム</li>
	   <li class="tag">#伝統音楽</li>
	 </ul>
	 <p class="text">
	   ベトナムの伝統音楽にハマったら、 まるで風が緩やかに川を渡るよう...
	 </p>
   </div>
   <svg
	 class="editicon"
	 xmlns="http://www.w3.org/2000/svg"
	 width="20"
	 height="20"
	 viewBox="0 -1 14 14"
	 fill="none"
   >
	 <rect
	   x="9.89941"
	   width="4.48"
	   height="1.12"
	   transform="rotate(45 9.89941 0)"
	   fill="#3D5C8A"
	 />
	 <path
	   d="M8.71143 1.18799L11.8793 4.35583L4.91002 11.3251L1.58379 11.4835L1.74218 8.15723L8.71143 1.18799Z"
	   fill="#3D5C8A"
	 />
   </svg>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
 <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
   <article class="new_profile">
   <a href="/index">
   <p class="new_text">新しく作る ＋</p>
   </a>
 </article>
</section>


	</div>
      <div class="bokasi"></div>
    </main>
    <footer>
      <nav>
        <ul>
          <li>
            <a href="/home"><i></i><span>ホーム</span></a>
          </li>
          <li>
            <a href="#"><i></i><span>メッセージ</span></a>
          </li>
          <li>
            <a href="#"><i></i><span>通知</span></a>
          </li>
          <li class="active">
            <a href="/profile"><i></i><span>プロフィール</span></a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
